h1>Demo: Simple Lists</h1>

<div class="alert alert-success">
    <strong>Instructions:</strong>
    Drag &amp; drop the list items to move them around, or just click to select them.
    If that's too boring, check out the <a href="#/nested">nested container demo</a>
</div>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
<style type="text/css">
    /* show the move cursor as the user moves the mouse over the panel header.*/
    #draggablePanelList .panel-heading {
        cursor: move;
    }
</style>

<div class="simpleDemo row" ng-controller="SimpleDemoController">
    <button ng-click="insertList()">Mybutton</button>

    <div style="margin: 5%" checkboxes="true" ng-click="dataFun(example1model)"  ng-dropdown-multiselect="" options="example1data" selected-model="example1model"></div>
    {{example1model}}
    <div class="col-md-8">

        <div class="row grid" id="draggablePanelList">
            <div  ng-repeat="(listName, list) in models.lists" >
                <div class="panel-heading" class="col-md-8" ng-if="listName!='B'">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">List {{listName}}</h3>
                    </div>

                </div>
                </div>
            </div>
        </div>
    </div>
</div>